/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00090e;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Prompt", serif;
}
